<td>
	<p><%= link_to discussion.user.full_name, discussion.user %></p>
	<img src="http://www.golenbock.com/wp-content/uploads/2015/01/placeholder-user.png" class="img-circle img-sm">
</td>
<td>
	<p><%= link_to discussion.subject, discussion_path(discussion) %></p>
	<p><%= truncate(discussion.content, length: 40) %></p>
</td>
<td>
	<p><%= created_at_humanized(discussion.created_at) %></p>
</td>
<td>	
	<p><%= discussion.replies %></p>
</td>
<td>
	<% if discussion.posts.empty? %>
		-
	<% else %>
		<p>By <%= link_to discussion.posts.first.user.full_name %></p>
		<img src="http://www.golenbock.com/wp-content/uploads/2015/01/placeholder-user.png" class="img-circle img-sm">
	<% end %>
</td>