<div class="container text-center">
	<%= link_to "â† go back", root_path, class: 'btn btn-search' %>
	<h1>Filtered Discussions</h1>
			<%= form_tag('/discussions', method: 'get', class: 'discussions-search-form') do %>
				<%= text_field_tag 'query', nil, placeholder: 'Search all discussions', class: 'form-control' %>
				<%= submit_tag 'Search', class: 'btn btn-search' %>
			<% end %>
	<div class="filtered-discussions">
		<div class="discussions-list">
			<table class="table">
				<thead class="thead">
					<th>Author</th>
					<th>Subject</th>
					<th>Date Posted</th>
					<th>Responses</th>
					<th>Last Post</th>
				</thead>
				<tbody>
					<% @discussions.each do |discussion| %>
						<tr>
							<%= render 'discussions/discussion', discussion: discussion %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>