<div class="discussion-container">
	<div class="discussion-header">
		<h2>
			<%= @discussion.subject %>
		</h2> 
		<p>Started <%= created_at_humanized(@discussion.created_at) %> | By <%= link_to @discussion.user.full_name %> </p>
	<hr>
	</div>
	<div class="discussion-body">
		<p><%= @discussion.content %></p>
		<% if discussion_owner? @discussion.user %>
			<div class="discussion-actions">
				<div class="action">
					<%= link_to 'Delete', discussion_path, class: 'btn-destroy', data: { confirm: 'Are you sure?' }, method: :delete %>
					<span class="glyphicon glyphicon-remove"></span>
				</div>	
				<div class="action">
					<%= link_to 'Edit', edit_discussion_path, class: 'btn-edit' %>
					<span class="glyphicon glyphicon-pencil"></span>
				</div>
			</div>
		<% end %>
	</div>
	<hr>
</div>

<div class="discussion-post-form">
	<h2>Discuss</h2>
	<%= simple_form_for :post, url: posts_path(discussion_id: @discussion.id) do |f| %>
		<%= f.input :content, as: :text, placeholder: 'Reply to this discussion' %>
		<%= f.button :submit, 'Reply to Discussion', class: 'btn btn-create' %>
	<% end %>
</div>

<div class="discussion-posts">
	<% @discussion.posts.each do |post| %>
		<% if post.parent_post_id.nil? %>
			<%= render 'posts/post', post: post %>
		<% end %>
	<% end %>
</div>