<div class="container">
	<div class="row">
		<div class="left-content">
			<h1 class="authenticated-pg-title"><%= link_to 'project_forum', root_path %></h1>
			<%= form_tag('/discussions', method: 'get', class: 'discussions-search-form') do %>
				<%= text_field_tag 'query', nil, placeholder: 'Search all discussions', class: 'form-control' %>
				<%= submit_tag 'Search', class: 'btn btn-search' %>
			<% end %>
			<div class="discussions-list">
				<table class="table">
					<thead class="thead">
						<th>Author</th>
						<th>Subject</th>
						<th>Date Posted</th>
						<th>Responses</th>
						<th>Last Post</th>
					</thead>
					<tbody>
						<% @discussions.each do |discussion| %>
							<tr>
								<%= render 'discussions/discussion', discussion: discussion %>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="right-content">
			<div class="user-card-alt">
				<% if logged_in? %>
					 <%= link_to image_tag("http://www.golenbock.com/wp-content/uploads/2015/01/placeholder-user.png", class: "user-avatar"), @current_user %>
					 <h4><%= link_to @current_user.full_name, @current_user %></h4>
					 <% if @current_user.discussions.present? %>
					 	<p><span class="glyphicon glyphicon-star"></span><%= link_to 'Starred Discussion', discussion_path(starred_discussion @current_user) %><span class="glyphicon glyphicon-star"></span></p>
					 <% end %>
				 <% else %>
				 	<span class="glyphicon glyphicon-share-alt"></span>
					<h4><%= link_to "Log in for User card", sign_in_path %></h4>
				<% end %>
			</div>
		</div>
	</div>

</div>