<div class="post-container">
	<p><img src="http://www.golenbock.com/wp-content/uploads/2015/01/placeholder-user.png" class="img-circle img-sm"> <%= link_to post.user.full_name, user_path(post.user) %> | <%= created_at_humanized(post.created_at) %></p>
	<h4 class="media-heading">
		<%= post.title %>
	</h4> 
	<p><%= post.content %></p>
	<div class="discussion-post-actions">
		<a class="reply-link" id="<%= post.id %>">Reply</a>
		<% if post_owner? post.user %>
			<%= link_to 'Delete', post_path(id: post.id), data: { confirm: 'Are you sure?' }, method: :delete %>
		<% end %></p>
	</div>
	<div class="post-reply-form" id="<%= post.id %>">
		<h4>Reply</h4>
		<%= simple_form_for :reply, url: replies_path(discussion_id: @discussion.id, post_id: post.id) do |f| %>
			<%= f.input :content, as: :text, placeholder: 'Reply to this post' %>
			<%= f.button :submit, 'Reply to Post', class: 'btn btn-create' %>
		<% end %>
	</div>

	<% if post.replies.any? %>
		<% post.replies.each do |reply| %>
			<%= render 'replies/reply', reply: reply, alt_background_colour: true %>
		<% end %>
	<% end %>
</div>
<hr>